<article>
  <h1 class="title" data-time="<%- page.date.format(theme.time_format) %>"><%- page.title %></h1>
  <%- page.content %>
  <p class="eof"><i class="fontello icon-asterisk"></i></p>
  <%- partial('navigation') %>
  <%- partial('comment') %>
</article>